/*公共样式 头部、底部样式*/

/*版心*/
.wrapper {
    width: 1240px;
    margin: 0 auto;
}

/*变量*/
:root {
    /*灰色*/
    --ga: #a1a1a1;
    /*绿色*/
    --gr: #00be9a;
}

/*头部开始*/
.shortcut {
    height: 52px;
    background-color: #333333;
}

.shortcut .wrapper {
    display: flex;
    justify-content: flex-end;
    line-height: 52px;
    color: #ffffff;
}

.shortcut .wrapper ul{
    display: flex;
}

.shortcut .wrapper ul a {
    font-size: 14px;
    color: #ffffff;
    padding: 0 15px;
    border-right: 1px solid #999;
    line-height: 14px;
}

.shortcut .wrapper ul li:last-child a{
    border-right: none;
}

.shortcut .wrapper ul a:hover {
    color: var(--gr);
}

.shortcut .wrapper ul a i {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.header {
    display: flex;
    align-items: center;
    padding: 22px 0;
}

.header .logo {
    width: 200px;
    height: 88px;
}

.header .logo a {
    display: block;
    width: 100%;
    height: 88px;
    background-image: url("../images/logo.png");
    text-indent: -9999px;
    overflow: hidden;
}

.header .nav {
    margin-left: 20px;
}

.header .nav ul {
    display: flex;
}

.header .nav ul li {
    padding: 0 18px;
}

.header .nav ul li a {
    padding: 10px 0;
    font-size: 19px;
}

.header .nav ul li a:hover {
    color: var(--gr);
    border-bottom: 2px solid var(--gr);
}

.header .search {
    position: relative;
    width: 220px;
    height: 40px;
    margin-left: 30px;
}

.header .search input {
    width: 170px;
    height: 40px;
    border-bottom: 2px solid #f4f4f4;
    padding-left: 28px;
    transition: all .3s;
}

.header .search input::placeholder {
    color: #cccccc;
}

.header .search input:focus {
    width: 220px;
}

.header .search i {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 20px;
    color: #cccccc;
    transform: translateY(-50%);
    cursor: pointer;
}

.cart {
    position: relative;
    margin-left: 15px;
    cursor: pointer;
}

.cart i {
    font-size: 36px;
}

.cart span {
    position: absolute;
    border-radius: 11px;
    padding: 0 8px;
    background-color: #e26237;
    color: #fff;
    left: 20px;
    top: 0;
}
/*头部结束*/