/*公共样式 头部、底部样式*/

/*版心*/
.wrapper {
    width: 1240px;
    margin: 0 auto;
}

/*变量*/
:root {
    /*灰色*/
    --gray: #a1a1a1;
    /*绿色*/
    --green: #00be9a;
}

/*头部开始*/
.shortcut {
    height: 52px;
    background-color: #333333;
}

.shortcut .wrapper {
    display: flex;
    justify-content: flex-end;
    line-height: 52px;
    color: #ffffff;
}

.shortcut .wrapper ul {
    display: flex;
}

.shortcut .wrapper ul a {
    font-size: 14px;
    color: #ffffff;
    padding: 0 15px;
    border-right: 1px solid #999;
    line-height: 14px;
}

.shortcut .wrapper ul li:last-child a {
    border-right: none;
}

.shortcut .wrapper ul a:hover {
    color: var(--green);
}

.shortcut .wrapper ul a i {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.header {
    display: flex;
    align-items: center;
    padding: 22px 0;
}

.header .logo {
    width: 200px;
    height: 88px;
}

.header .logo a {
    display: block;
    width: 100%;
    height: 88px;
    background-image: url("../images/logo.png");
    text-indent: -9999px;
    overflow: hidden;
}

.header .nav {
    margin-left: 20px;
}

.header .nav ul {
    display: flex;
}

.header .nav ul li {
    padding: 0 18px;
}

.header .nav ul li a {
    padding: 10px 0;
    font-size: 19px;
}

.header .nav ul li a:hover {
    color: var(--green);
    border-bottom: 2px solid var(--green);
}

.header .search {
    position: relative;
    width: 220px;
    height: 40px;
    margin-left: 30px;
}

.header .search input {
    width: 170px;
    height: 40px;
    border-bottom: 2px solid #f4f4f4;
    padding-left: 28px;
    transition: all .3s;
}

.header .search input::placeholder {
    color: #cccccc;
}

.header .search input:focus {
    width: 220px;
}

.header .search i {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 20px;
    color: #cccccc;
    transform: translateY(-50%);
    cursor: pointer;
}

.cart {
    position: relative;
    margin-left: 15px;
    cursor: pointer;
}

.cart i {
    font-size: 36px;
}

.cart span {
    position: absolute;
    border-radius: 11px;
    padding: 0 8px;
    background-color: #e26237;
    color: #fff;
    left: 20px;
    top: 0;
}

/*头部结束*/


/*底部开始*/
.footer {
    height: 582px;
    background-color: #f5f5f5;
}

.service {
    padding: 60px 0;
    border-bottom: 1px solid #e8e8e8;
}

.service ul {
    display: flex;
    justify-content: space-evenly;
}

.service li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 190px;
    height: 58px;
}

.service li h5 {
    overflow: hidden;
    width: 58px;
    height: 58px;
    background-image: url(../images/sprite.png);
    text-indent: -9999px;
}

.service li:nth-child(2) h5 {
    background-position: 0 -58px;
}

.service li:nth-child(3) h5 {
    background-position: 0 -116px;
}

.service li:nth-child(4) h5 {
    background-position: 0 -174px;
}

.service li p {
    font-size: 28px;
    line-height: 28px;
}

.help {
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding-top: 60px;
}

.help .left {
    display: flex;
}

.help .left dl {
    margin-right: 80px;
}

.help .left dt {
    font-size: 18px;
    margin-bottom: 30px;
}

.help .left dd {
    margin-bottom: 10px;
}

.help .left dd a {
    font-size: 16px;
    color: var(--gray);
}

.help .left dd a:hover {
    text-decoration: underline;
}

.help .left dd span {
    color: var(--green);
    font-size: 18px;
}

.help .right ul {
    display: flex;
}

.help .right ul li:nth-child(2) {
    margin-left: 55px;
}

.help .right img {
    width: 120px;
    height: 120px;
}

.help .right p {
    margin-top: 10px;
    font-size: 16px;
    color: var(--gray);
    text-align: center;
}

.copyright {
    text-align: center;
    color: var(--gray);
    line-height: 30px;
}

.copyright a {
    text-align: center;
    color: var(--gray);
}

.copyright a:hover {
    color: var(--green);
    text-decoration: underline;
}

.copyright span {
    margin: 0 5px;
}
/*底部结束*/