/*banner开始*/
.banner {
    height: 500px;
    background-color: #f5f5f5;
}

.banner .wrapper {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.banner .pic {
    display: flex;
    width: 300%;
}

.banner .circle {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 10px;
}

.banner .circle li {
    width: 22px;
    height: 22px;
    padding: 4px;
    margin: 0 2px;
    border-radius: 50%;
    cursor: pointer;
}

.banner .circle li::after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
}

.banner .circle .active {
    background-color: rgba(255, 255, 255, 0.3);
}

.banner .subnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.42);
}

.banner .subnav li {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding-left: 29px;
}

.banner .subnav li:hover {
    background-color: var(--green);
    text-indent: 10px;
}

.banner .subnav li::before {
    content: "\e687";
    position: absolute;
    right: 10px;
    color: #fff;
    font-family: iconfont;
}

.banner .subnav li a {
    color: #fff;
    font-size: 14px;
}

.banner .subnav li a:first-child {
    margin-right: 5px;
    font-size: 16px;
}

/*banner结束*/


/*新鲜好物 开始*/
.hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 30px;
}

.hd h2 {
    font-size: 30px;
}

.hd h2 span {
    margin-left: 30px;
    font-size: 16px;
    color: var(--gray);
}

.hd .all {
    font-size: 16px;
    color: var(--gray);
}

.hd .all:hover {
    color: var(--green);
}

.bd ul {
    display: flex;
    justify-content: space-between;
}

.bd li {
    width: 304px;
    height: 404px;
    background-color: #eef9f4;
    text-align: center;
}

.bd li:hover {
    margin-top: -5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.42);
    transition: all 0.2s;
}

.bd li a {
    display: block;
    height: 100%;
}

.bd li h4 {
    margin: 18px 15px 9px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bd li p {
    font-size: 18px;
    color: #aa2113;
}

.bd li p span {
    font-size: 22px;
}

/*新鲜好物 结束*/

/*人气推荐 开始*/
.recommend .bd li {
    background-color: #fff;
}

.recommend .bd p {
    font-size: 16px;
    color: var(--gray);
}

/*人气推荐 结束*/

/*热门品牌 开始*/
.brand {
    height: 468px;
    margin-top: 50px;
    background-color: #f5f5f5;
}

.brand .btn {
    display: flex;
    align-self: end;
}

.brand .btn a {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    background-color: #e2e2e2;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

.brand .btn .right {
    background-color: var(--green);
}

.brand .bd li {
    width: 244px;
    height: 306px;
}
/*热门品牌 结束*/


/*生鲜 开始*/
.fresh .hd h2 {
    flex: 1;
}

.fresh .hd ul {
    display: flex;
    margin-right: 65px;
}

.fresh .hd ul a {
    padding: 0 6px;
}


.fresh .hd ul a:hover {
    background-color: var(--green);
    color: #fff;
}

.fresh .content {
    display: flex;
    justify-content: space-between;
}

.fresh .content .left {
    width: 248px;
    height: 610px;
}

.fresh .content .right {
    width: 968px;
    height: 610px;
}

.fresh .right ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fresh .right ul li {
    overflow: hidden;
    position: relative;
    width: 242px;
    height: 304px;
    border: 2px solid transparent;
    transition: all .3s;
}

.fresh .right ul li:hover {
    border-color: var(--green);
}

.fresh .right li a {
    display: block;
    padding: 10px 20px 0;
}

.fresh .right .pic {
    width: 200px;
    height: 180px;
}

.fresh .right .info {
    width: 200px;
    margin-top: 14px;
    font-size: 16px;
    line-height: 19px;
}

.fresh .right .info h5 {
    font-size: 16px;
}

.fresh .right .price {
    margin-top: 5px;
    font-size: 15px;
    color: #af2f22;
}

.fresh .right .price span {
    font-size: 22px;
}

.fresh .right .find {
    position: absolute;
    bottom: -100%;
    width: 242px;
    height: 84px;
    padding: 15px 40px 10px;
    background-color: var(--green);
    text-align: center;
    color: #fff;
    transition: all .3s;
}

.fresh .right li:hover .find {
    bottom: 0;
}

.fresh .right .find h4 {
    font-size: 18px;
    line-height: 25px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.11);
}

.fresh .right .find a {
    font-size: 13px;
    color: #fff;
}

.fresh .right .find i {
    font-size: 13px;
}

.fresh .right .find a:hover {
    text-decoration: underline;
}
/*生鲜 结束*/

/*最新专题 开始*/
.new {
    margin-bottom: 50px;
}

.new .bd ul {
    height: 355px;
}

.new .bd li {
    width: 405px;
    height: 355px;
    background-color: #fff;
}

.new .bd .pic {
    position: relative;
    width: 405px;
    height: 288px;
}

.new .pic .txt {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding: 20px 15px 0;
    background-image: linear-gradient(transparent,rgba(0,0,0,.6));
}

.new .txt h5 {
    color: #fff;
    font-size: 20px;
}

.new .txt .left p {
    margin-top: 5px;
    color: #fff;
    text-align: left;
    font-size: 16px;
}

.new .txt .right {
    width: 79px;
    height: 29px;
    background-color: #fff;
    align-self: center;
    text-align: center;
    color: #aa2113;
}

.new .desc {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}

.new .desc span {
    font-size: 14px;
    color: #666666;
}

.new .desc i {
    margin-right: 3px;
}

.new .desc .icon-favorites-fill{
    color: #aa2113;
}
/*最新专题 结束*/