/*banner开始*/
.banner {
    height: 500px;
    background-color: #f5f5f5;
}

.banner .wrapper {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.banner .pic {
    display: flex;
    width: 300%;
}

.banner .circle {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 10px;
}

.banner .circle li {
    width: 22px;
    height: 22px;
    padding: 4px;
    margin: 0 2px;
    border-radius: 50%;
    cursor: pointer;
}

.banner .circle li::after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
}

.banner .circle .active {
    background-color: rgba(255, 255, 255, 0.3);
}

.banner .subnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.42);
}

.banner .subnav li {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding-left: 29px;
}

.banner .subnav li:hover {
    background-color: var(--green);
    text-indent: 10px;
}

.banner .subnav li::before {
    content: "\e687";
    position: absolute;
    right: 10px;
    color: #fff;
    font-family: iconfont;
}

.banner .subnav li a {
    color: #fff;
    font-size: 14px;
}

.banner .subnav li a:first-child {
    margin-right: 5px;
    font-size: 16px;
}

/*banner结束*/


/*新鲜好物 开始*/
.hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 30px;
}

.hd h2 {
    font-size: 30px;
}

.hd h2 span {
    margin-left: 30px;
    font-size: 16px;
    color: var(--gray);
}

.hd .all {
    font-size: 16px;
    color: var(--gray);
}

.hd .all:hover {
    color: var(--green);
}

.bd ul {
    display: flex;
    justify-content: space-between;
}

.bd li {
    width: 304px;
    height: 404px;
    background-color: #eef9f4;
    text-align: center;
}

.bd li:hover {
    margin-top: -5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.42);
    transition: all 0.2s;
}

.bd li a {
    display: block;
    height: 100%;
}

.bd li h4 {
    margin: 18px 15px 9px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bd li p {
    font-size: 18px;
    color: #aa2113;
}

.bd li p span {
    font-size: 22px;
}

/*新鲜好物 结束*/

/*人气推荐 开始*/
.recommend .bd li {
    background-color: #fff;
}

.recommend .bd p {
    font-size: 16px;
    color: var(--gray);
}

/*人气推荐 结束*/

/*热门品牌 开始*/
.brand {
    height: 468px;
    margin-top: 50px;
    background-color: #f5f5f5;
}

.brand .btn {
    display: flex;
    align-self: end;
}

.brand .btn a {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    background-color: #e2e2e2;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

.brand .btn .right {
    background-color: var(--green);
}

.brand .bd li {
    width: 244px;
    height: 306px;
}
/*热门品牌 结束*/